/* ============================= HEADER ============================= */
.navDesktop {
    background-color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    max-height: 60px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    z-index: 999;
}
.navDesktop-logo {
    max-width: 200px;
    position: relative;
}
.navDesktop-logo img {
    width: 80px;
}
.navDesktop-logo-link {
    display: block;
    position: absolute;
    padding: 10px;
    margin: 0;
    top: -20px;
    left: 65px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
    z-index: 999;
}
.navbarList {
    font-family: 'OpenSans-Bold', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 14px;
}
.navbarList li {
    margin-left: 18px;
}
.navbarList li a {
    color: var(--color-black);
    text-decoration: none;
}
.navbarList li a:hover {
    text-decoration: underline;
}
.navDesktop-list-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbarList.right {
    margin-right: 18px;
}
.phoneButton {
    max-width: 200px;
}
.phoneButton-link {
    padding: 5px 20px;
    display: block;
    color: var(--color-white-thin);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: var(--color-primary);
    transition: all 0.3s;
    margin-right: 18px;
    font-weight: bold;
}
.phoneButton-link:hover {
    color: var(--color-white-thin);
    background-color: var(--color-primary-hover);
    text-decoration: none;
}
.phoneButton-link i {
    margin-right: 5px;
}
.shoppingCart {
    margin-right: 20px;
    max-width: 50px;
    cursor: pointer;
    position: relative;
}
.shoppingCart img {
    width: 36px;
}
.shoppingCart span {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--color-red);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item {
    min-height: 92vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.2);
}
.carousel-caption-inner {
    max-width: 1000px;
    height: auto;
}
.carousel-caption-inner h5 {
    font-size: 42px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Roboto-Bold', 'san-serif';
    text-transform: uppercase;
}
.carousel-caption-inner p {
    font-size: 18px;
}
.shippingText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38px;
    background-color: #1A5276;
    color: #fff;
    text-decoration: none;
}
.shippingText:hover {
    color: #fff;
    text-decoration: none;
}
.shippingText p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.shippingText img {
    max-width: 16px;
    margin-left: 10px;
}
.slide {
    box-sizing: border-box;
    position: relative;
}
.headerButton {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 66px;
}
.headerButton__item {
    background-color: #fff;
    color: #333;
    text-decoration: none;
    padding: 20px 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto-Bold', sans-serif;
    transition: all 0.2s;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.headerButton__inner {
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    margin-left: 50px;
}
.headerButton__item:hover {
    color: #fff;
    background-color: var(--color-primary);
}
/* ============================= ./end HEADER ============================= */

/* ============================= CONTENT ============================= */
.sellingProducts {
    background: var(--color-grey-thin);
    padding-bottom: 30px;
}
.sellingProducts .nav {
    border-bottom: 2px solid rgb(211, 212, 213);
    justify-content: center;
}
.sellingProducts .nav .nav-item .nav-link {
    background: transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    color: #B2BABB;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto-Bold', sans-serif;
    transition: all 0.3s;
}
.sellingProducts .nav .nav-item .nav-link:hover,
.sellingProducts .nav .nav-item .nav-link.active {
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-primary);
}
.productBox {
    background: #fff;
    border: 1px solid #eee;
    cursor: pointer;
    position: relative;
}
.productBox__image {
    overflow: hidden;
    position: relative;
}
.img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}
.productBox__content {
    padding: 10px;
}
.productBox__content-name-link {
    font-size: 15px;
    color: #333;
    text-decoration: none;
}
.productBox__content-name-link:hover {
    color: var(--color-primary);
}
.productBox img {
    transition: all 0.5s;
}
.productBox .img-overlay {
    transition: all 0.3s;
}
.productBox:hover .productBox__image > img {
    transform: scale(1.3);
}
.productBox:hover .img-overlay {
    background: rgba(0, 0, 0, 0.35);
}
.productBox__content-price {
    margin-top: 10px;
}
.productBox__content-price-discount {
    font-size: 15px;
    color: #707B7C;
    text-decoration: line-through;
}
.productBox__content-price-price {
    font-weight: bold;
    margin-left: 8px;
    color: var(--color-primary-hover);
}
.owl-selling-product .owl-nav {
    position: absolute;
    left: 0;
    top: 32%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.owl-selling-product .owl-nav button.owl-next,
.owl-selling-product .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    background: var(--color-primary);
    color: #fff;
    outline: none;
    border: none;
}
.categoryProducts {
    padding-bottom: 30px;
}
.categoryProducts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 30px;
    border-bottom: 2px solid #eaebee;
}
.categoryProducts__wrap-title {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto-Bold', 'san-serif';
    color: var(--color-primary);
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.owl-category-product .owl-nav {
    position: absolute;
    top: -56px;
    right: 105px;
}
.owl-category-product .owl-nav button.owl-next,
.owl-category-product .owl-nav button.owl-prev {
    width: 32px;
    height: 32px;
    background: #1F618D;
    color: #fff;
    outline: none;
    border: none;
    margin-left: 5px;
    border-radius: 50%;
}
.btn-view-more {
    background: var(--color-primary);
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
}
.btn-view-more:hover {
    color: #fff;
    background: var(--color-primary-hover);
}
.customerReviews {
    background-image: url('../img/customer-reviews.jpg');
    background-position: center;
    background-size: cover;
    background-color: #FFF;
    padding-bottom: 30px;
}
.customerReview {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.customerReview__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.customerReview__header-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: top;
    background-size: cover;
}
.customerReview__header-info {
    padding-left: 15px;
}
.customerReview__header-info-name {
    font-size: 18px;
    color: var(--color-primary);
}
.customerReview__header-info-pos {
    font-size: 15px;
    color: #566573;
}
.customerReview__content {
    font-size: 15px;
    margin-top: 15px;
    color: #34495E;
}
.owl-customer-review .owl-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.owl-customer-review .owl-nav button.owl-next,
.owl-customer-review .owl-nav button.owl-prev {
    width: 32px;
    height: 32px;
    background: var(--color-primary);
    color: #fff;
    outline: none;
    border: none;
    margin-left: 5px;
    border-radius: 50%;
}
.post {
    background: var(--color-grey-thin);
    padding-bottom: 30px;
}
.postBox {
    background: #fff;
}
.postBox__content {
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.postBox__content-cateName {
    font-size: 13px;
    color: #eee;
    background: var(--color-primary);
    border-radius: 5px;
    padding: 8px 15px;
    text-align: center;
}
.postBox__content-title {
    font-size: 17px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    transition: all 0.3s;
}
.postBox__content-title:hover {
    color: var(--color-primary);
}
.postBox__content-desc {
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.postBox__bottom {
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.postBox__bottom-time {
    color: #7B7D7D;
}
.btn-view-post {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #222;
}
.btn-view-post img {
    max-width: 22px;
    margin-left: 3px;
}
.btn-view-post:hover {
    background: #eee;
}
.partner {
    padding-top: 40px;
}
.partnerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.partnerBox img {
    max-width: 150px;
}
/* ============================= ./end CONTENT ============================= */

/* ============================= FOOTER ============================= */
.footer {
    background: #f5f6fa;
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer__top {
    background: #fff;
    margin: 60px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.policyText {
    text-align: center;
    border-right: 1px solid #eee;
}
.policyText.border-none {
    border-color: #fff;
}
.policyText h4 {
    font-size: 14px;
    color: var(--color-primary);
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.policyText p {
    font-size: 13px;
    color: #566573;
    padding: 0;
    margin: 0;
}
.footerBox__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footerBox__text {
    font-size: 15px;
    color: #707B7C;
}
.footerBox__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footerBox__list li a {
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
    display: block;
    font-size: 15px;
    transition: all 0.3s;
}
.footerBox__list li a:hover {
    color: var(--color-primary);
}
.footerBox__register-text {
    font-size: 15px;
    color: #707B7C;
}
.registerForm {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}
.registerForm input {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 10px;
    font-size: 14px;
    border: none;
    outline: none;
}
.registerForm button {
    padding: 8px;
    background: var(--color-primary);
    color: #fff;
    margin-top: 10px;
}
.registerForm button:hover {
    color: #fff;
    background: var(--color-primary-hover);
}
.copyright {
    font-size: 14px;
    color: #eee;
    background: #333;
    text-align: center;
    padding: 15px 0;
    margin: 0;
}
.copyright a {
    color: #85C1E9;
    text-decoration: none;
    transition: all 0.3s;
}
.copyright a:hover {
    color: var(--color-primary-hover);
}
.social {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.social li a {
    width: 40px;
    height: 40px;
    background: var(--color-primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 50%;
    transition:  all 0.3s;
}
.social li a:hover {
    color: var(--color-primary-hover);
    background: #eee;
}
/* ============================= ./end FOOTER ============================= */